@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fxo83i');
  src:  url('../fonts/icomoon.eot?fxo83i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fxo83i') format('truetype'),
    url('../fonts/icomoon.woff?fxo83i') format('woff'),
    url('../fonts/icomoon.svg?fxo83i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-left:before {
  content: "\ea38";
}
